/* .last-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    background-color: black;
    color: antiquewhite;
    margin-top: 30px;
    padding-top: 30px;
} */

.last-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    color: antiquewhite;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

@media only screen and (max-width:576px) {
    .last-container {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (min-width:576px) and (max-width:992px) {
    .last-container {
        grid-template-columns: repeat(2, 1fr);
    }

}