 .topbar {
    display: flex;
    justify-content: end;
    text-align: center;
    background-color: #77787B;
    color: #fff;
    font-size: small;
    border: none;
     height: 2.8rem; 
    padding-right: 10%;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2; 
    margin-bottom: 0%;
} 

.topbar ul{
    display: flex;
    text-align: center; 
}

.topbar ul li{
    display: flex;
    justify-content: center;
} 


.topbar nav a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
    padding: 0 5px;

}

.topbar nav a:hover {
    background-color: lightblue;
    color: blueviolet;
}




/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    text-decoration-line: underline;
  }
  
  /* mouse over link */
  /* a:hover {
    color: hotpink;
  } */
  
  /* selected link */
  a:active {
    color: white;
    text-decoration: underline;
  }

  
li {
    
    margin-right: 10px;
}

.topbar ul mutton{
  display: none;
  
} 

@media (max-width: 868px) {
  .topbar {
  
    height: 6%;
    
} 
}
